* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-body {
  margin-top: 50px;
  width: 750px;
  height: auto;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.header h1 {
  margin-left: 50px;
  color: #0078d4;
}

#header-span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.container-top-1,
.container-top-2 {
  display: flex;
  justify-content: space-around;
}

.actions-top {
  width: 150px;
}

.actions-middle {
  display: flex;
  justify-content: space-around;
}
.actions {
  display: flex;
  justify-content: center;
}

label {
  font-size: 16px;
  font-weight: bold;
}

.input-dropdown select,
.input-dropdown input,
.switch {
  padding: 5px;
  border: 2px solid #0078d4;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  margin-top: 8px;
}

input[type="number"] {
  width: 100%;
  display: none;
}

#save-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#save-btn:hover {
  background-color: #208625;
}

#reset-btn {
  background-color: #9b59b6;
  color: white;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reset-btn:hover {
  background-color: #8e44ad;
}
#limitInfo {
  color: red;
  font-size: 16px;
  text-align: center;
}
#timerInfo {
  color: #0078d4;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.progress-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.searched,
.remaining {
  text-align: center;
}

#count {
  font-size: 20px;
  font-weight: bold;
  color: #0078d4;
}

#remainingCount {
  font-size: 20px;
  font-weight: bold;
  color: #fc0505;
}

.progress-bar {
  width: 90%;
  height: 20px;
  background-color: #fc0505;
  border-radius: 10px;
  margin: 0 auto 10px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.5s ease;
}

.actions-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#task-btn {
  background-color: #3498db;
  color: white;
  border: none;
  width: 280px;
  height: 34px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#task-btn:hover {
  background-color: #006ce0;
}

#stop-btn {
  background-color: #fc0505;
  color: white;
  border: none;
  width: 280px;
  height: 34px;
  border-radius: 4px;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#stop-btn:hover {
  background-color: #c0392b;
}

#close-btn {
  background-color: #f39c12;
  color: white;
  border: none;
  width: 280px;
  height: 34px;
  border-radius: 4px;
  font-weight: 550;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#close-btn:hover {
  background-color: #e67e22;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  font-size: 16px;
  color: #555;
  text-align: center;
  font-size: 16px;
}
.text-danger {
  color: #fc0505;
  font-size: 25px;
}
.footer-link {
  display: flex;
  align-items: center;
  color: #0078d4;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #fc0505;
}

.github-logo {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.footer-link:hover .github-logo {
  transform: scale(1.1);
}

.checkbox-wrapper-2 .custom_check {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 65px;
  border-style: none;
  flex-shrink: 0;
  height: 28px;
  width: 54px;
  margin: 0;
  margin-left: 20px;
  margin-top: 5px;
  position: relative;
}

.checkbox-wrapper-2 .custom_check,
.checkbox-wrapper-2 .custom_check::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .custom_check::after {
  background-color: #0078d4;
  border-radius: 50%;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  position: absolute;
  top: 3px;
}

.checkbox-wrapper-2 input[type="checkbox"] {
  cursor: pointer;
}

.checkbox-wrapper-2 .custom_check:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .custom_check:checked {
  background-color: #0078d4;
}

.checkbox-wrapper-2 .custom_check:checked::after {
  background-color: #fff;
  left: 29px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .custom_check:checked:hover {
  background-color: #1996f5;
}

/* Hide arrows on number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 480px) {
  .container-body {
    margin-top: 20px;
    width: 350px;
    gap: 8px;
  }
  .header img {
    width: 70px;
    height: 70px;
  }
  .header h1 {
    margin-left: 20px;
  }
  .actions-top {
    width: 103px;
  }
  .input-dropdown select,
  .input-dropdown input,
  .switch {
    margin-top: 4px;
  }

  #save-btn {
    padding: 8px 12px;
  }

  #reset-btn {
    padding: 8px 12px;
  }

  #limitInfo {
    font-size: 14px;
  }
  .progress-container {
    margin-top: 2px;
  }
  .progress-bar {
    height: 16px;
  }
  .actions-body {
    gap: 10px;
  }
  .footer {
    font-size: 14px;
  }
  .github-logo {
    margin-left: 25px;
  }
  .checkbox-wrapper-2 .custom_check {
    /* height: 24px; 
  width: 46px; */
    height: 26px;
    width: 45px;
    margin-top: 1px;
  }
  .checkbox-wrapper-2 .custom_check::after {
    height: 18px;
    width: 18px;
    top: 4px;
  }
  .checkbox-wrapper-2 .custom_check:checked::after {
    left: 23px;
  }
}
